{% load static %}
{% load i18n %}

<!-- Footer-->
<footer class="position-relative pb-5" style="padding-top: 3rem;">
  <div class="d-none d-xxl-block position-absolute top-0 start-0 w-100 h-100 bg-dark" style="border-top-left-radius: 1.875rem; border-top-right-radius: 1.875rem;"></div>
  <div class="d-xxl-none position-absolute top-0 start-0 w-100 h-100 bg-dark"></div>
  <div class="container content-overlay text-center py-md-3 py-lg-5">
    <div class="d-flex justify-content-center pb-4">
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2 me-2" href="https://www.linkedin.com/in/ahmed-fathy-mohamed/" target="_blank"><i class="fi-linkedin"></i></a>
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2 me-2" href="https://www.facebook.com/profile.php?id=687486467" target="_blank"><i class="fi-facebook"></i></a>
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2 me-2" href="https://www.instagram.com/a_fathy/?fbclid=IwAR1gyYPpavAzjOxDY6f48BSk2IAKNWYTR2vzXsSg0J0tnkKWLjg0_sAksfI" target="_blank"><i class="fi-instagram"></i></a>
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2 me-2" href="https://wa.me/00201111129280" target="_blank"><i class="fi-whatsapp"></i></a>
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2 me-2" href="https://wa.me/00201111129280" target="_blank"><i class="fi-telegram"></i></a>
      <a class="btn btn-icon btn-translucent-light btn-sm rounded-circle mb-2" href="https://m.me/profile.php?id=687486467" target="_blank"><i class="fi-messenger"></i></a>
    </div>
    <h2 class="h4 text-light pb-3">Still not convinced? Get full portfolio!</h2>
    <div class="row justify-content-center mb-5 pb-lg-3">
      <div class="col-lg-6 col-md-7 col-sm-9">
        <form class="subscription-form validate" action="#" method="post" name="subscribe-form" target="_blank" novalidate>
          <div class="form-group form-group-light rounded-pill">
            <div class="input-group flex-nowrap"><span class="input-group-text text-muted"><i class="fi-mail"></i></span>
              <input class="form-control" type="email" name="EMAIL" placeholder="Your email" required>
            </div>
            <button class="btn btn-primary rounded-pill" type="submit" name="subscribe">Drop email</button>
          </div>
          <div class="subscription-status mx-auto"></div>
          <div class="form-text text-light fs-xs opacity-70 mt-3">Drop your email to receive a portfolio with all my projects and updates.</div>
        </form>
      </div>
    </div>
    <p class="fs-sm mb-0"><span class="text-light">&copy; All rights reserved. Made by </span><a href="#" target="_blank" rel="noopener">Ahmed Fathy</a></p>
  </div>
</footer>
<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>