{% load static %}
{% load i18n %}

<!-- Hero Section -->
<section class="bg-dark pt-5">
  <div class="container py-5">
    <div class="container content-overlay text-center py-md-3 py-lg-5">
      <h1 class="display-5 text-light mt-sm-5 my-3">Ahmed Fathy</h1>
      <p class="fs-lg text-white">I <span class="text-primary">design</span> and <span class="text-primary">develop</span> beautiful simple websites, and I love what I do.</p>
      <div class="row justify-content-center mb-5 pb-lg-3">
        <div class="col-lg-4 col-md-5 col-sm-7">
          <a class="btn btn-primary btn-lg rounded-pill w-100 mt-2" href="#overview" data-scroll>
            <i class="fi-zoom-in pt-1 me-2"></i>Explore resume
          </a>
        </div>
      </div>
    </div>
  </div>
</section>