{% extends 'base.html' %} 
{% load static %}
{% load i18n %}

{% block content %}

<!-- Page content-->
<section class="position-relative bg-white rounded-xxl-4 zindex-5" style="margin-top: -30px;">
  <div class="container pt-4 pb-5 mb-md-4">
    
    <!-- Alert Messages -->
    {% include 'messages/alerts.html' %}

    <div class="row">
      <!-- Sticky sidebar-->
      <aside class="col-lg-4 col-md-5 mb-4 mb-md-0" style="margin-top: -6rem;">
        <div class="sticky-top" style="padding-top: 6rem;">
          <!-- Side Navbar Partial -->
          {% include 'partials/_side-navbar.html' %}
        </div>
      </aside>

      <!-- Resume Col -->
      <div class="col-lg-8 col-md-7 position-relative mb-4 mb-md-0">
        <!-- Overview Section -->
        <section class="mb-4 pb-md-3" id="overview">
          <h3 class="h4 mb-2">Summary</h3>
          <div class="border rounded-3 p-3 pb-3">
            <p class="mb-1 fs-sm">Visionary dynamic result oriented leader with a lengthy diverse track record of performance in different work cultures between SaaS high-paced startups, international and governmental organizations. Demonstrating aptitude for big picture, strategic thinking and organizational development, moving naturally between business and technology discussions and inspire stakeholders in order to recognize and promote new business opportunities along with dedication to hands-on development and ongoing learning of emerging technologies.</p>
            <div class="collapse" id="seeMoreOverview">
              <h6 class="py-2">Personal Info</h6>
              <div class="row">
                <div class="col">
                  <ul class="list-unstyled fs-sm mb-0">
                    <li><b>Gender: </b>Male</li>
                    <li><b>Nationality: </b>Egyptian</li>
                    <li><b>Birthdate: </b>February 1st, 1985</li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-unstyled fs-sm mb-0">
                    <li><b>Place of birth: </b>Egypt</li>
                    <li><b>Marital Status: </b>Single</li>
                    <li><b>Military Status: </b>Exempted</li>
                  </ul>
                </div>
              </div>
            </div>
            <a class="collapse-label collapsed" href="#seeMoreOverview" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="seeMoreOverview"></a>
          </div>
        </section>

        <!-- Experience Section -->
        <section class="mb-4 pb-md-3" id="experience">
          <!-- Title & View all -->
          <div class="d-flex align-items-center justify-content-between mb-1">
            <h3 class="h4 mb-2">Experience</h3>
            <a class="fs-sm text-decoration-none" href="{% url 'experience' %}">View all<i class="fi-arrow-right mt-n1 ms-2"></i></a>
          </div>
          <!-- Accordion-->
          <div id="accordionJobs">
            <!-- Createx Studio -->
            <div class="card bg-secondary mb-2" data-bs-toggle="collapse" data-bs-target="#jobCollapse1">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <img class="me-2" src="{% static 'img/company/createx_logo.png' %}" width="24" alt="Createx studio">
                    <span class="fs-sm text-dark opacity-80 ps-1">Createx Studio</span>
                  </div>
                  <span class="badge bg-faded-primary rounded-pill fs-sm">3 Years</span>
                </div>
                <h3 class="h6 card-title pt-1 mb-0">Senior Frontend Developer</h3>
              </div>
              <div class="collapse show" id="jobCollapse1" data-bs-parent="#accordionJobs">
                <div class="card-body mt-n1 pt-0">
                  <ul class="fs-sm">
                    <li>Translating themes final approved designs into maintainable clean code and compelling scalable interfaces using different client-side languages, frameworks, libraries, modules, bundlers and compilers.</li>
                    <li>Updating our themes through building reusable components for future use, and developing mobile-first responsive components to ensure that our themes are rendered perfectly across multiple platforms, browsers and devices.</li>
                    <li>Customizing clients websites using our themes through meeting them, collecting their requirements and discussing them with stakeholders to start working on these improvements that help business requirements.</li>
                    <li>Exploring effective trends, libraries and keeping abreast of latest and emerging technologies to update our themes.</li>
                  </ul>
                  <!-- Job Card Footer -->
                  <div class="fs-sm">
                    <span class="text-nowrap me-3">
                      <i class="fi-calendar text-muted me-1"> </i>From May 2020 till Present
                    </span>
                    <span class="text-nowrap me-3">
                      <i class="fi-map-pin text-muted me-1"> </i>Remotely
                    </span>
                    <span class="text-nowrap">
                      <i class="fi-cash fs-base text-muted me-1"></i>Freelancer
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Infinity Egypt -->
            <div class="card bg-secondary collapsed mb-2" data-bs-toggle="collapse" data-bs-target="#jobCollapse2">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <div class="d-flex align-items-center"><img class="me-2" src="{% static 'img/company/infinity-egypt-logo.jpeg' %}" width="24" alt="Infinity Egypt">
                    <span class="fs-sm text-dark opacity-80 ps-1">Infinity Egypt</span>
                  </div>
                  <span class="badge bg-faded-primary rounded-pill fs-sm">5 Years</span>
                </div>
                <h3 class="h6 card-title pt-1 mb-0">Frontend Developer</h3>
              </div>
              <div class="collapse" id="jobCollapse2" data-bs-parent="#accordionJobs">
                <div class="card-body mt-n1 pt-0">
                  <!-- Steps-->
                  <div class="mx-auto" style="max-width: 864px;">
                    <div class="steps steps-vertical">
                      <div class="step">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">1</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">Frontend Developer</h3>
                          <p class="fs-sm opacity-70 mb-3">From January 2018 till April 2020</p>
                          <ul class="fs-sm mb-1">
                            <li>Developing company website using client-side languages, frameworks, libraries, modules, bundlers and compilers.</li>
                            <li>Identifying improvement opportunities through monitoring performance and suggesting new technical solutions that help business requirements, ensure brand consistency, and maximize website performance.</li>
                            <li>Transforming UI/UX designs to attractive user interface features with valid, clean, and maintainable code.</li>
                            <li>Ensuring designs technical feasibility and consistency with company development standards.</li>
                            <li>Building conceptual diagrams, mockups and manage detailed user interface specifications.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="step mb-4">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">2</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">UI/UX Designer</h3>
                          <p class="fs-sm opacity-70 mb-3">From September 2015 till December 2017</p>
                          <ul class="fs-sm mb-1">
                            <li>Analyzing the business goals, products objectives, competitive products, user needs, and brand direction.</li>
                            <li>Collecting requirements through interviewing stakeholders and issue requirements documents.</li>
                            <li>Translating requirements and thoughts to wireframes, prototypes, storyboards, user flows, site maps etc.</li>
                            <li>Designing attractive interactive layouts, pages and features using different UI & UX technologies.</li>
                            <li>Conducting Usability testing to ensure that our company website renders well across multiple devices & browsers.</li>
                            <li>Coordinating with copywriters and graphic designers; designing backgrounds, icons and banners.</li>
                            <li>Maintaining and improving site appearance and content through planning and implementing new designs.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Job Card Footer -->
                  <div class="fs-sm">
                    <span class="text-nowrap me-3">
                      <i class="fi-calendar text-muted me-1"> </i>From September 2015 till April 2020
                    </span>
                    <span class="text-nowrap me-3">
                      <i class="fi-map-pin text-muted me-1"> </i>On Site
                    </span>
                    <span class="text-nowrap">
                      <i class="fi-cash fs-base text-muted me-1"></i>Staff
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- National Bank of Egypt -->
            <div class="card bg-secondary collapsed mb-2" data-bs-toggle="collapse" data-bs-target="#jobCollapse3">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <div class="d-flex align-items-center"><img class="me-2" src="{% static 'img/company/nbe-logo.jpeg' %}" width="24" alt="NBE Logo">
                    <span class="fs-sm text-dark opacity-80 ps-1">National Bank of Egypt</span>
                  </div>
                  <span class="badge bg-faded-primary rounded-pill fs-sm">5 Years</span>
                </div>
                <h3 class="h6 card-title pt-1 mb-0">Partnership Manager</h3>
              </div>
              <div class="collapse" id="jobCollapse3" data-bs-parent="#accordionJobs">
                <div class="card-body mt-n1 pt-0">
                  <!-- Steps-->
                  <div class="mx-auto" style="max-width: 864px;">
                    <div class="steps steps-vertical">
                      <div class="step">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">1</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">Partnership Manager</h3>
                          <p class="fs-sm opacity-70 mb-3">From July 2013 till August 2015</p>
                          <ul class="fs-sm mb-1">
                            <li>Increasing NBE business acquisition revenue by 22%.</li>
                            <li>Decreasing the key accounts turnover by 60%.</li>
                            <li>Contributing to the foundation and development of NBE Mobile Payment apps and NBE Loyalty Program.</li>
                            <li>Collaborating in the creation and activation of 10+ Marketing campaigns.</li>
                            <li>Enrolling 40+ Corporate payroll accounts in different industries.</li>
                            <li>Enrolling 200+ POS accounts and installing over 4000 POS machines.</li>
                            <li>Enrolling 70+ ATM accounts and installing over 150 ATM machines.</li>
                            <li>Enrolling 200+ Loyalty program account and 40+ E-Commerce accounts.</li>
                            <li>Managing 50+ key accounts and retaining 20+ key accounts.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="step mb-4">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">2</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">Business Acquisition Team Leader</h3>
                          <p class="fs-sm opacity-70 mb-3">From January 2011 till June 2013</p>
                          <ul class="fs-sm mb-1">
                            <li>Leading teams of procurement specialists to manage complex procurements from conception to completion.</li>
                            <li>Maintaining an inventory of available materials as well as potential suppliers for future purchases.</li>
                            <li>Negotiating prices and terms of agreements with suppliers on behalf of an organization.</li>
                            <li>Conducting market research to identify potential suppliers who could meet an organization needs.</li>
                            <li>Reviewing bids from suppliers to ensure that they conform to specifications and are complete.</li>
                            <li>Working with internal departments to develop budgets and plans for projects involving large capital expenditures.</li>
                            <li>Coordinating with legal counsel to ensure that contracts adhere to all legal requirements.</li>
                            <li>Coordinating with shipping companies to arrange pick up of purchased goods or delivery of purchased items.</li>
                            <li>Communicating with vendors to ensure that orders are processed accurately and on time.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Job Card Footer -->
                  <div class="fs-sm">
                    <span class="text-nowrap me-3">
                      <i class="fi-calendar text-muted me-1"> </i>From January 2011 till August 2015
                    </span>
                    <span class="text-nowrap me-3">
                      <i class="fi-map-pin text-muted me-1"> </i>On Site
                    </span>
                    <span class="text-nowrap">
                      <i class="fi-cash fs-base text-muted me-1"></i>Staff
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- EVA Pharma -->
            <div class="card bg-secondary collapsed mb-2" data-bs-toggle="collapse" data-bs-target="#jobCollapse4">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <div class="d-flex align-items-center"><img class="me-2" src="{% static 'img/company/eva-pharma-logo.png' %}" width="24" alt="EVA Logo">
                    <span class="fs-sm text-dark opacity-80 ps-1">EVA Pharma</span>
                  </div>
                  <span class="badge bg-faded-primary rounded-pill fs-sm">2 Years</span>
                </div>
                <h3 class="h6 card-title pt-1 mb-0">Compensation &amp; Benefits Senior Specialist</h3>
              </div>
              <div class="collapse" id="jobCollapse4" data-bs-parent="#accordionJobs">
                <div class="card-body mt-n1 pt-0">
                  <!-- Steps-->
                  <div class="mx-auto" style="max-width: 864px;">
                    <div class="steps steps-vertical">
                      <div class="step">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">1</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">Compensation &amp; Benefits Senior Specialist</h3>
                          <p class="fs-sm opacity-70 mb-3">From January 2010 till December 2010</p>
                          <ul class="fs-sm mb-1">
                            <li>Design a compensation package based on business goals and strategy.</li>
                            <li>Create and analyze job descriptions evaluations and classifications.</li>
                            <li>Conduct salary and labor market research to define benchmarks.</li>
                            <li>Apply effective communication strategies.</li>
                            <li>Assess employees needs by conducting organizational surveys.</li>
                            <li>Keep abreast with new trend and best practice in the filed.</li>
                            <li>Conduct periodic audits, prepare and present reports.</li>
                            <li>Ensure that compensation practices are in compliance with current laws and regulations.</li>
                            <li>Create a consistent compensation guideline that matches our work and organizational culture.</li>                          
                          </ul>
                        </div>
                      </div>
                      <div class="step mb-3">
                        <div class="step-progress"><span class="step-progress-end"></span><span class="step-number bg-secondary shadow-hover">2</span></div>
                        <div class="step-label">
                          <h3 class="h5 mb-0 pb-1">Compensation &amp; Benefits Specialist</h3>
                          <p class="fs-sm opacity-70 mb-3">From February 2008 till December 2009</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Job Card Footer -->
                  <div class="fs-sm">
                    <span class="text-nowrap me-3">
                      <i class="fi-calendar text-muted me-1"> </i>From February 2008 till December 2010
                    </span>
                    <span class="text-nowrap me-3">
                      <i class="fi-map-pin text-muted me-1"> </i>On Site
                    </span>
                    <span class="text-nowrap">
                      <i class="fi-cash fs-base text-muted me-1"></i>Staff
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Orange Telecom -->
            <div class="card bg-secondary collapsed mb-2" data-bs-toggle="collapse" data-bs-target="#jobCollapse6">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <img class="me-2" src="{% static 'img/company/orange-logo.png' %}" width="24" alt="Orange Telecom">
                    <span class="fs-sm text-dark opacity-80 ps-1">Orange Telecom</span>
                  </div>
                  <span class="badge bg-faded-primary rounded-pill fs-sm">6 Months</span>
                </div>
                <h3 class="h6 card-title pt-1 mb-0">First Class Customer Service Agent</h3>
              </div>
              <div class="collapse" id="jobCollapse6" data-bs-parent="#accordionJobs">
                <div class="card-body mt-n1 pt-0">
                  <ul class="fs-sm mb-4">
                    <li>Manage large amounts of incoming phone calls.</li>
                    <li>Identify and assess customers needs to achieve satisfaction.</li>
                    <li>Build sustainable relationships and trust with customer accounts through open and interactive communication.</li>
                    <li>Provide accurate, valid and complete information by using the right methods/tools.</li>
                    <li>Meet personal/customer service team sales targets and call handling quotas.</li>
                    <li>Handle customer complaints, provide appropriate solutions and alternatives within the time limits; follow up to ensure resolution.</li>
                    <li>Keep records of customer interactions, process customer accounts and file documents.</li>
                    <li>Follow communication procedures, guidelines and policies.</li>
                  </ul>
                  <!-- Job Card Footer -->
                  <div class="fs-sm">
                    <span class="text-nowrap me-3">
                      <i class="fi-calendar text-muted me-1"> </i>From August 2007 till February 2008
                    </span>
                    <span class="text-nowrap me-3">
                      <i class="fi-map-pin text-muted me-1"> </i>On Site
                    </span>
                    <span class="text-nowrap">
                      <i class="fi-cash fs-base text-muted me-1"></i>Staff
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Projects Section (Carousel)-->
        <section class="mb-4 pb-md-3" id="projects">
          <!-- Title & View all -->
          <div class="d-flex align-items-center justify-content-between mb-1">
            <h3 class="h4 mb-2">Projects</h3>
            <a class="fs-sm text-decoration-none" href="{% url 'projects' %}">View all<i class="fi-arrow-right mt-n1 ms-2"></i></a>
          </div>
          <!-- Projects Carousel -->
          <div class="table-responsive" data-simplebar>
            <div class="d-flex">

              {% for i in projects_list %}
                <!-- Project 1 -->
                <div class="rounded-3" href="{{ i.link }}">
                  <div class="card mb-4 me-4" style="min-width: 20rem;">
                    <!-- Card Image on top -->
                    <div class="card-img-top card-img-hover" width="300">
                      <a href="{{ i.link }}" class="img-overlay"></a>
                      <div class="position-absolute start-0 top-0 pt-3 ps-3">
                        <span class="d-table badge bg-primary mb-1">{{ i.category }}</span>
                      </div>
                      <div class="content-overlay end-0 top-0 pt-3 pe-3">
                        <button type="button" class="btn btn-icon btn-light btn-xs text-primary rounded-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="View project">
                          <i class="fi-eye-on"></i>
                        </button>
                      </div>
                      <!-- Lazy Loaded Project Img -->
                      <img src="{{ i.small_image.url }}" data-src="{{ i.large_image.url }}" alt="Project Image" class="lazy w-100" />
                      {% comment %} <img src="{% static 'img/projects/p-1.jpeg' %}" alt="Image"> {% endcomment %}
                    </div>
                    <!-- Project Info -->
                    <div class="card-body position-relative pt-3 pb-2">
                      <!-- Project Title -->
                      <h3 class="h6 mb-2">
                        <a class="nav-link stretched-link" href="{{ i.link }}">{{ i.title }}</a>
                      </h3>
                      <!-- Project Description-->
                      <p class="fs-sm opacity-70 pb-2">{{ i.description }}</p>
                      <!-- project Languages -->
                      <div class="d-flex flex-wrap">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">HTML</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">CSS</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Javascript</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Bootstrap</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>

        <!-- Skills -->
        <section class="mb-4 pb-md-3" id="skills">
          <!-- Title & View all -->
          <div class="d-flex align-items-center justify-content-between mb-1">
            <h3 class="h4 mb-2">Skills</h3>
            <a class="fs-sm text-decoration-none" href="{% url 'skills' %}">View all<i class="fi-arrow-right mt-n1 ms-2"></i></a>
          </div>
          <div class="accordion mb-4" id="features">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFrontEnd">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#frontEnd" aria-expanded="true" aria-controls="frontEnd">Frontend Skills</button>
              </h2>
              <div class="accordion-collapse collapse show" id="frontEnd" aria-labelledby="headingFrontEnd" data-bs-parent="#features">
                <div class="accordion-body fs-sm opacity-70">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul>
                        {% for i in frontend_skills_list1 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul>
                        {% for i in frontend_skills_list2 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingInterior">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#interior" aria-expanded="false" aria-controls="interior">Backend Skills</button>
              </h2>
              <div class="accordion-collapse collapse" id="interior" aria-labelledby="headingInterior" data-bs-parent="#features">
                <div class="accordion-body fs-sm opacity-70">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul>
                        {% for i in backend_skills_list1 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul>
                        {% for i in backend_skills_list2 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSafety">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#safety" aria-expanded="false" aria-controls="safety">Tooling Skills</button>
              </h2>
              <div class="accordion-collapse collapse" id="safety" aria-labelledby="headingSafety" data-bs-parent="#features">
                <div class="accordion-body fs-sm opacity-70">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul>
                        {% for i in tooling_skills_list1 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul>
                        {% for i in tooling_skills_list2 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTechnology">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#technology" aria-expanded="false" aria-controls="technology">Language Skills</button>
              </h2>
              <div class="accordion-collapse collapse" id="technology" aria-labelledby="headingTechnology" data-bs-parent="#features">
                <div class="accordion-body fs-sm opacity-70">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul>
                        {% for i in language_skills_list1 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul>
                        {% for i in language_skills_list2 %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingExterior">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exterior" aria-expanded="false" aria-controls="exterior">Personal Skills</button>
              </h2>
              <div class="accordion-collapse collapse" id="exterior" aria-labelledby="headingExterior" data-bs-parent="#features">
                <div class="accordion-body fs-sm opacity-70">
                  <ul>
                    {% for i in personal_skills %}
                    <li>{{ i.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Education -->
        <section class="mb-0" id="education">
          <!-- Title & View all -->
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h3 class="h4 mb-2">Education</h3>
            <a class="fs-sm text-decoration-none" href="{% url 'education' %}">View all<i class="fi-arrow-right mt-n1 ms-2"></i></a>
          </div>
          <div class="border rounded-3 p-3 pb-1">
            <b class="mb-3">Certificates</b>
            <div class="row pt-2">
              <div class="col-sm-6">
                <ul class="fs-sm opacity-70 ps-4">
                  {% for i in certificates_list1 %}
                  <li>{{ i.name }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="fs-sm opacity-70 ps-4">
                  {% for i in certificates_list2 %}
                  <li>{{ i.name }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <hr class="my-3">
            <b>Bachelor Degree</b>
            {% for i in bachelor_degrees %}
              <p class="fs-sm pt-2 opacity-70">{{ i.name }}</p>
            {% endfor %}
            <hr class="my-3">
            <b>School Degrees</b>
            {% for i in school_degrees %}
              <p class="fs-sm pt-2 opacity-70">{{ i.name }}</p>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock %}